<%= form_with(model: [order_form, order]) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label :phone, style: "display: block" %>
    <%= form.telephone_field :phone %>
  </div>

  <table>
    <thead>
    <th>Amount</th>
    <th>Product</th>
    <th>Unit price</th>
    </thead>
    <tbody>
      <%= form.fields_for :order_lines do |order_line_form| %>
        <% order_line = order_line_form.object %>
        <tr>
          <%= order_line_form.hidden_field :product_id %>
          <td><%= order_line_form.number_field :amount, min: 0, max: 10 %></td>
          <td><%= order_line.product.title %></td>
          <td>€<%= order_line.product.price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div>
    <%= form.label :comment, style: "display: block" %>
    <%= form.text_area :comment %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
