<%= bootstrap_form_with(model: [order_form, order], layout: :horizontal) do |form| %>

  <%= form.text_field :name %>
  <%= form.email_field :email %>
  <%= form.telephone_field :phone %>

  <%= form.form_group do %>
    <table class="table">
      <thead>
        <th><%= OrderLine.human_attribute_name :amount %></th>
        <th><%= OrderLine.human_attribute_name :product %></th>
        <th><%= OrderLine.human_attribute_name :unit_price %></th>
      </thead>
      <tbody>
        <%= form.fields_for :order_lines do |order_line_form| %>
          <% order_line = order_line_form.object %>
          <tr>
            <%= order_line_form.hidden_field :product_id %>
            <td><%= order_line_form.number_field :amount, min: 0, max: 10, hide_label: true %></td>
            <td><%= order_line.product.title %></td>
            <td>€<%= order_line.product.price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <%= form.text_area :comment %>
  <%= form.form_group do %>
    <%= form.primary %>
  <% end %>
<% end %>
