<div id="<%= dom_id order %>">
  <p>
    <strong>Order form:</strong>
    <%= order.order_form_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= order.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= order.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= order.phone %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= order.comment %>
  </p>

</div>
