<div id="<%= dom_id order %>">
  <hgroup>
  <h2><%= t '.order_title', form_title: order.order_form.title %></h2>
  <h3><%= link_to t('.permalink'), order %></h3>
  </hgroup>

  <p>
    <%= order.order_form.thanks %>
  </p>

  <h3><%= t '.contact_information' %></h3>
  <address>
    <%= order.name %><br>
    <%= order.phone %><br>
    <%= order.email %>
  </address>

  <p>
    <h3><%= t '.order_contents' %></h3>
    <table>
      <thead>
        <th scope="col"></th>
        <th scope="col"><%= OrderLine.human_attribute_name :amount %></th>
        <th scope="col"><%= OrderLine.human_attribute_name :product %></th>
        <th scope="col"><%= OrderLine.human_attribute_name :unit_price %></th>
        <th scope="col"><%= OrderLine.human_attribute_name :subtotal %></th>
      </thead>
      <tbody>
        <% for order_line in order.order_lines do %>
          <tr>
            <td></td>
            <td><%= order_line.amount %></td>
            <td><%= order_line.product.title %></td>
            <td>€<%= order_line.product.price %></td>
            <td>€<%= order_line.subtotal %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td><%= t :total %></td>
          <td><%= order.total_amount %></td>
          <td colspan="2"></td>
          <td>€<%= order.total_price %></td>
        </tr>
      </tfoot>
    </table>
  </p>

  <h3><%= t '.comment' %></h3>
  <p>
    <%= order.comment %>
  </p>

</div>
