<p style="color: green"><%= notice %></p>

<%= render @order_form %>

<div>
  <%= link_to "Edit this order form", edit_order_form_path(@order_form) %> |
  <%= link_to "Back to order forms", order_forms_path %>

  <%= button_to "Destroy this order form", @order_form, method: :delete %>
</div>
