<%= form_with(model: payment) do |form| %>
  <% if payment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
        <% payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :kind, style: "display: block" %>
    <%= form.text_field :kind %>
  </div>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.text_field :amount %>
  </div>

  <div>
    <%= form.label :order_id, style: "display: block" %>
    <%= form.text_field :order_id %>
  </div>

  <div>
    <%= form.label :reference, style: "display: block" %>
    <%= form.text_field :reference %>
  </div>

  <div>
    <%= form.label :comment, style: "display: block" %>
    <%= form.rich_text_area :comment %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
