<div id="<%= dom_id payment %>">
  <p>
    <strong>Kind:</strong>
    <%= payment.kind %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= payment.amount %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= payment.order_id %>
  </p>

  <p>
    <strong>Reference:</strong>
    <%= payment.reference %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= payment.comment %>
  </p>

</div>
