<div id="<%= dom_id payment %>" class="card">
  <h5 class="card-header">
    <%= Payment.human_attribute_name("kind.#{payment.kind}") %>
    <span class="badge text-bg-<%= payment_status_to_color payment.status %>">
      <%= Payment.human_attribute_name("status.#{payment.status}") %>
    </span>
  </h5>

  <% case payment.kind %>
  <% when "wire_transfer" %>
    <p class="card-body">
      <%= t '.please_transfer_html', amount: payment.amount, reference: payment.reference, iban: payment.order.order_form.iban %>
    </p>
  <% else %>
  <% end %>
</div>
